---
clerks:
  name: "Peg Bernstein"
  email: clerks@flgbtqc.org
treasurer:
  name: "Su Penn"
  email: treasurer@flgbtqc.org
  address: "FLGBTQC<br>c/o Su Penn<br>4396 Okemos Rd. Apt E103<br>Okemos, MI 48864"
email_list_owners:
  name: "Judith Bush and Daniel Allen"
  email: porch+owner@flgbtqc.groups.io
website_manager:
  name: "Ash Goren"
  email: website@flgbtqc.org
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    
    {%- include navigation.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

  </body>

</html>
